<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Posts</h1>
</div>
<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else postsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #postsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let product of products | async"
    >
      <mat-card>
        <img
          [src]="product.image | image"
          [alt]="'Photo of ' + product.title"
          mat-card-image
        />
        <mat-card-title ><a> <i>Title:</i> {{ product.title }}</a></mat-card-title>
        <mat-card-title class="date"><a> <i>Date:</i> {{ product.price }}</a></mat-card-title>
        <a
          [routerLink]="['/posts/', product._id ]"
          mat-button
        >VIEW</a>

      </mat-card>
    </div>
  </div>
</ng-template>

