<app-centered-card title="Register">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input type="text" name="userName" autocomplete="username"
              required matInput ngModel #userName="ngModel"
      />
      <mat-error *ngIf="userName.touched && userName.hasError('required');">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="new-password"
             required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required');">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Display Name</mat-label>
      <input type="text" name="displayName" autocomplete="name"
             required matInput ngModel #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required');">
        Name  is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Phone Number</mat-label>
      <input type="text" name="phoneNumber" autocomplete="name"
             required matInput ngModel #phoneNumber="ngModel"
      />
      <mat-error *ngIf="displayName.touched && phoneNumber.hasError('required');">
        Name  is required
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      REGISTER
    </button>
  </form>
</app-centered-card>

