<app-centered-card title="Sign in">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="onSubmit()">
    <div *ngIf="error | async" class="error">
      {{(error | async)?.error }}
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Enter your display name </mat-label>
      <input type="text" name="displayName"
              required matInput ngModel #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required');">
        Email is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" name="password"
             required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required');">
        Password is required
      </mat-error>
    </mat-form-field>


    <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 16px">
      <a routerLink="/register">Don't have an account? Sign in</a>
    </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      SIGN IN
    </button>


  </form>

</app-centered-card>

